* {
    margin: 0px
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    background-color: rgb(69, 109, 120);
}

header {
    color: black;
    text-align: center;
    border: 1px solid white;
    background-color: rgb(69, 109, 120);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius:50px ;

}

.a {
    position: fixed;
    background-color: rgb(95, 188, 187);
    right: 0%;
    bottom: 13%;
    top: 0%;
    left: 15%;
    border: 1px solid white;


}






nav {

    background-color: rgb(100, 186, 205);
    position: fixed;
    right: 85%;
    bottom: 25%;
    padding-top: 5%;
    left: 0%;
    top:0%;
    border: 1px solid ;
    padding-right: 5%;
    border-radius:50px ;
    
   



}

#zeineb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;

}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



footer {
    position: fixed;

    bottom: 0%;
    right: 0%;
    left: 0%;
    top:87%;
    background-color: rgb(149, 201, 212);
    margin: 0%;
    border: 0%;
    text-align: center;
    padding-top: 1%;
  border-radius: 50px;

   
    

}


   

article {

    word-wrap: break-word;
    font-size: large;
    margin-top: 1.5%;
    border-radius:50px ;
    border: 1px solid white;
    padding-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 1%;
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;

}

nav a {
    color: black;
    text-decoration: none;
    width: 140px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    background-color: rgb(69, 109, 120);
    display: flow-root;
    margin-left: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;


}


footer a {
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgb(69, 109, 120);
    display:inline-block;

}
.n{height: 70px;
width: 60px;}
.abc{position: fixed;
    top: 75%;
    right:85% ;
    left: 0%;
    bottom:13%;
    background-color: rgb(69, 109, 120);
    margin: 0%;
    padding-left: 0%;
    border: 1px solid white;
    
}
.prc2{padding-top: 4%;}
.table1{border: 2px solid white;
margin-left: 5%;}
video{float: right;
position:fixed ;
top: 30%;
right: 4%;}
.f1{text-align:left;
    border: 1px solid white; 
    border-radius: 50px;
    margin-left: 10%;
    padding-left: 2%;
    padding-top: 1%;
    font-size: 4px;
    margin-right: 50%;
    margin-top: 2%;
    padding-bottom: 1%;

}
.f2{text-align:left;
    border: 1px solid white; 
    border-radius: 50px;
    font-size: 16px;
    position: fixed;
    top: 20%;
    left: 60%;
    right:2%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;


}
.contact{text-align: center;
margin-top: 5%;    
margin-left: 30%;
margin-right: 40%;
}